PORT={PORT}

DB_HOST={DB_HOST}
DB_PORT=5432
DB_DATABASE={DB_DATABASE}
DB_USERNAME={DB_USERNAME}
DB_PASSWORD={DB_PASSWORD}
DB_SSLMODE=disable

QDRANT_HOST=localhost
QDRANT_PORT=6334

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=documents
MINIO_SSLMODE=false

OPENROUTER_API_KEY={OPENROUTER_API_KEY}
TAVILY_API_KEY={TAVILY_API_KEY}
LLM_PROVIDER={LLM_PROVIDER} # openrouter, anthropic, aws, openai
LLM_MODEL={LLM_MODEL}
EMBED_MODEL={EMBED_MODEL}