@media screen and (max-width: 768px) {
  .wrapperSidebar {
    position: absolute;
    z-index: 100;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-right: 1px solid rgb(227 227 227 / var(--tw-border-opacity));
  }

  .mask {
    background-color: #fafafa80;
    width: 100vw;
    height: 100vh;
    position: absolute;
  }
}

.WrapperContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 32px;
  min-height: 95vh;
  width: 100%;
  gap: 12px;

  @media (min-width: 768px) {
    padding: 16px;
  }
}

:global {
  .ant-form-item {
    margin-bottom: 12px !important;
  }

  .ant-modal-content {
    padding: 40px !important;
  }
}